{% extends "base/base.html" %}
{% block content %}
{% if form.errors %}
{% include "base/javascripts.html" %}
<!-- Modal -->
<div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color: black" class="modal-title" id="exampleModalLabel">Error al inciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: black"> Por favor, introduzca un nombre de usuario y clave correctos. Observe que ambos campos pueden ser sensibles a mayúsculas.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#errModal').modal('show')
</script>
{% endif %}
{% if user.is_authenticated %} Buen dia! , {{ user.username }} Estas listo para aprender mucho mas hoy?.
{% else %}
<div>
<div style="background-color: rgba(250, 217, 255, 0.65); color:black; " class="card ">
  <div class="text-center card-header ">
    <h1 class="colorblur">TradTerm</h1>
    <small class="text-muted">(Admin Mode) </small>
      <h6 class="text-muted">Inicie sesión rellenando los campos.</h6>
  </div>
  <div class="d-flex justify-content-center">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} 
      <div class="form-group">
       
        {{ form.username }}
        <small id="emailHelp" class="form-text text-muted">No compartas esta informacion con nadie.</small>
       
        {{ form.password }}
      <button class="btn btn-primary btn-sm" type="submit">Iniciar Sesión</button>
      </div>
  
  </div>
 </div>
</div>
</form>
{% endif %}
{% endblock %} 