/* MEDIA QUERYS PARA LAS FUENTES Y DEMAS OBJETOS */
@media (max-width:959px) {
    .doc-jumbotron h1 {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: -.02em;
        line-height: 3.625rem
    }
}

.doc-toolbar {
    position: fixed
}

@media (min-width:1280px) {
    .navdrawer-permanent~.doc-jumbotron,
    .navdrawer-permanent~.doc-main,
    .navdrawer-permanent~.doc-toolbar {
        margin-left: 17.5rem
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2) {
    #titulo {
        font-size: 4.4rem;
    }
}