.body{
    color: black !important;
}


#exampleModalLabel {
    color: black;
}
.btn.btn-primary.btn-sm,
.btn.btn-secondary.btn-sm {
    padding: 10px 20px;
    margin: 10px 10px;
    transition: 500ms
}

.btn.btn-primary.btn-sm:hover,
.btn.btn-secondary.btn-sm:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card {
    flex: 0 1 30%;
    background-size: cover;
    background-position: center;
    transition: all 300ms ease-out;
    background-color: rgba(100, 6, 154, 0.8);
}

.card:hover {
    transform: scale(1.2);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#botonentrar {
    background-color: #ba69c8;
    padding: 10px 20px;
    margin: 10px 10px;
    transition: 1500ms;
}

#botonentrar:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.colorblur {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 8s infinite linear;
}

.jumbotron {
    background-image: url(images/doc-jumbotron-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
}
.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

@media (max-width:959px) {
    .doc-jumbotron h1 {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: -.02em;
        line-height: 3.625rem
    }
}

.doc-toolbar {
    position: fixed
}

@media (min-width:1280px) {
    .navdrawer-permanent~.doc-jumbotron,
    .navdrawer-permanent~.doc-main,
    .navdrawer-permanent~.doc-toolbar {
        margin-left: 17.5rem
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}