{% extends "base/base.html" %}
{% block content %}
 {% for x in blenguaje %}
    <p>{{ x.nombre }}</p>
    <p>{{ x.descripcion|truncatechars:150}}</p>
    <p>{{ x.caracteristicas|truncatechars:50 }}</p>
{% endfor %}

{% endblock content %}
