<nav class="navbar navbar-toggleable-sm navbar-light bg-faded nav nav-tabs-justified">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand colorblur" href="/">TradTerm APP</a>
  <div class="collapse navbar-collapse nav-tabs" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% with url_name=request.resolver_match.url_name %}
    {% if user.is_superuser %}
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% if url_name == 'index' %}active{% endif %} " data-toggle="dropdown" href="{% url 'index' %}" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
      <div class="dropdown-menu text-center">
        <p>User: {{ user.username }}</p>
        <p>Nombre: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'admin:index' %}">Panel de control</a>
        <a class="dropdown-item" href="{% url 'admin:index' %}wikilenguaje/lenguaje/">Administrar Lenguajes</a>
        <a class="dropdown-item" href="{% url 'admin:index' %}dicterm/termino/">Administrar Terminos</a>
        <a class="dropdown-item" href="{% url 'admin:index' %}auth/user/">Administrar Staff</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'admin:index' %}auth/password_change/">Cambiar contraseña</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
      </div>
      {% endif %}
      
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'index_terminos' %}active{% endif %}" href="{% url 'Terminos:index_terminos' %}">Terminos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'index_lenguajes' %}active{% endif %}" href="{% url 'Lenguajes:index_lenguajes' %}">Lenguajes</a>
      </li>
 
    </ul>
  {% if url_name == 'index_lenguajes' or url_name == 'buscar_lenguaje' %}
  <form action="{% url 'Lenguajes:buscar_lenguaje' %}" class="form-inline" method="GET">
    <input name="query" class="form-control mr-sm-2" type="text" placeholder="Buscar">
    <button class="btn btn-outline-success sm-0" type="submit">Buscar</button>
  </form>
  {% endif %}
  {% endwith %}
  </div>
</nav>